{% extends "base.html" %}
{% block title %}WasteType Details{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">WasteType: {{ wasteType }}</h1>
    {% if result %}
        <div id="description">
            {{ result }}
        </div>
    {% else %}
        <p class="text-center">No further details available for this waste type.</p>
    {% endif %}

    <!-- Year Selector -->
    <div class="year-selector-container">
        <label for="yearSelector">Select Year:</label>
        <select id="yearSelector">
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>
    </div>

    <!-- Fetch Data Link -->
    <form action="{{ url_for('waste_type') }}" method="get">
        <input type="hidden" name="wikidata_id" value="{{wikidata_id}}"> <!-- Replace with actual ID -->
        <input type="hidden" name="name" value="{{ wasteType }}">
        <button type="submit">Fetch Data for {{ wasteType }}</button>
    </form>

    <canvas id="wasteDistributionChart" width="600" height="400"></canvas>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/static/js/wasteTypeDetails.js"></script>
{% endblock %}
