body {
    background-image: url('/api/images/wallpaper.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#search-box {
    display: flex;
    align-items: center;
}
#search-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#correct-bar {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-bookmark-check" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/></svg>');
    background-size: 20px 20px;
    width: 40px;
    height: 20px;
    display: none;
    animation: fadeOut 1s forwards;
}
#title {
    display: flex;
    align-items: center;
}
#autocomplete-select select {
    width: 100%;
}
.logo {
    background-image: url('/api/images/logo.jpg');
    background-size: cover;
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px; /* Espacio entre la imagen y el título */
    
}
.logo-cup-straw {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16"><path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82 0 .046-.004.09-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87-1.516 0-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A.78.78 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278zM9.768 4.607A13.991 13.991 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.284 3.284 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085l.18-.808zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a5.514 5.514 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69 1.27 0 2.081-.441 2.438-.69.042-.029.09-.094.102-.215l.852-8.03a5.517 5.517 0 0 1-.435.127 8.88 8.88 0 0 1-.89.17zM4.467 4.884s.003.002.005.006l-.005-.006zm7.066 0-.005.006c.002-.004.005-.006.005-.006zM11.354 5a3.174 3.174 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222z"/></svg>');
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.mapa{
    position: relative;
    height: 70vh; 
    width: 80%; 
    max-width: 800px;
}


.wrapper {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 52%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
.wrapper.hidden {
    animation: fadeOut 1s forwards;
    display: none;
}
.ball {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 10px;
    animation: 2s bounce ease infinite;
}
.black {
    background-color: #000000;
}
.red {
    background-color: #EA4436;
    animation-delay: .2s;
}
.yellow {
    background-color: #FBBD06;
    animation-delay: .4s;
}
.green {
    background-color: #34A952;
    animation-delay: .6s;
}
@keyframes bounce {  
    25% {
        transform: translateX(+300%);
    }
    50% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
#loading-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    animation: shine 2s infinite;
}
@keyframes shine {
    0%, 100% {
        text-shadow: 0 0 10px #000000;
    }
    50% {
        text-shadow: 0 0 20px #ffffff, 0 0 30px #000000, 0 0 40px #ffffff,0 50px #8d8d8d;;
    }
}

.modern-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}