<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Madrid Map</title>
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="/static/css/map-style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">


    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <!-- Include Leaflet.js library -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
        <div class="container">
         <h1>Madrid</h1>
            <p> In this small Flask web application, you can visualize the waste details about the city of Madrid. This web app was built with Flask and relies on an RDF graph that we created starting from a CSV file. Each district contains details about waste type and a total amount of waste for the years 2021 to 2023. You can also see the distribution of a specific waste type over the years in each district. </p>
        </div>

    <!-- Graph Section -->
   <!-- Graph Section -->
    <div id="chartContainer">
        <h2>Waste Data Visualization</h2>
        <form action="/updateIndexYear" method="get">
            <label for="yearFilter">Select Year:</label>
            <select name="year" id="yearFilter"  onchange="this.form.submit()">
                <option value="2021" {% if selected_year == '2021' %} selected {% endif %}>2021</option>
                <option value="2022" {% if selected_year == '2022' %} selected {% endif %}>2022</option>
                <option value="2023" {% if selected_year == '2023' %} selected {% endif %}>2023</option>
            </select>
        </form>
        <canvas id="indexWasteOverview"></canvas>
    </div>


    <div class="container">
        <h2>Click on a district to visualize its Waste Amount Details</h2>
        <div id="map1"></div>
    </div>

    <script type="text/javascript">
        const initialWasteData = {{ waste_data | tojson }};
    </script>
    <script src="/static/js/indexWasteOverview.js"></script>
    <script src="/static/js/map1.js"></script>
</body>
</html>
